body {
  font-family: 'Quicksand', sans-serif;
  color: white;
  background-color: #093f3f;
}

header {
  display: flex; 
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  background-image: url(fond.jpg);
  padding-bottom: 50px;
}


.titre {
  font-family: 'Quicksand', serif;
  color: white;
  text-align: center;
  padding-top: 150px;
  font-size: 3.5em;
}

.txt-pres {
  font-family: 'Quicksand', serif;
  color: white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px ;
  font-size: 1.8em;
  margin-left: 15%;
  margin-right: 15%;
}

#Vitesse{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}

.titre-partie1 {
  font-family: 'Quicksand', serif;
  color: white;
  text-align: center;
  font-size: 3.2em;
  padding-top: 150px;
  margin-left: 20% ;
  padding-right: 10%;
  grid-column: 1;                     /* 5 */
  grid-row: 1;
}

.txt-vitesse {
  font-family: 'Quicksand', serif;
  color: white;
  text-align: center;
  font-size: 1.3em;
  padding-top: 250px;
  margin-left: 20% ;
  margin-right: 10%;
  grid-column: 1;                     /* 5 */
  grid-row: 1;
}

.video-vitesse{
  grid-column: 2;                     /* 5 */
  grid-row: 1;
  margin-top: 100px;
  margin-left: 20% ;
  margin-right: 10%;
  align-content: center;
}

#Difficulté{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}

.titre-partie2 {
  font-family: 'Quicksand', serif;
  color: white;
  text-align: center;
  font-size: 3.2em;
  padding-top: 150px;
  margin-left: 10% ;
  margin-right: 20%;
  grid-column: 2;                     /* 5 */
  grid-row: 1;
}

.txt-difficulté {
  font-family: 'Quicksand', serif;
  color: white;
  text-align: center;
  font-size: 1.3em;
  padding-top: 250px;
  margin-left: 10% ;
  margin-right: 20%;
  grid-column: 2;                     /* 5 */
  grid-row: 1;
}

.video-difficulté{
  grid-column: 1;                     /* 5 */
  grid-row: 1;
  margin-top: 100px;
  margin-left: 20% ;
  margin-right: 10%;
}

#Bloc{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}

.titre-partie3 {
  font-family: 'Quicksand', serif;
  color: white;
  text-align: center;
  font-size: 3.2em;
  padding-top: 150px;
  margin-left: 20% ;
  padding-right: 10%;
  grid-column: 1;                     /* 5 */
  grid-row: 1;
}

.txt-bloc {
  font-family: 'Quicksand', serif;
  color: white;
  text-align: center;
  font-size: 1.3em;
  padding-top: 250px;
  margin-left: 20% ;
  margin-right: 10%;
  grid-column: 1;                     /* 5 */
  grid-row: 1;
}

.video-bloc{
  grid-column: 2;                     /* 5 */
  grid-row: 1;
  margin-top: 100px;
  margin-left: 20% ;
  margin-right: 10%;
  align-content: center;
}

video{
  border : 2px solid white;
}

#img_entete{
  grid-column: 2;                     /* 5 */
  grid-row: 1;
  margin-right: 50px;
  margin-left: 15%;
  padding-top: 100px;
  width: 600px;
}

#ensg{
  width: 75px;
}

.description {
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-align: center;
  font-size: 1.5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}



#bloc-entête {
   float: center;
   margin-right: 0%;
   margin-left: 0%;
   grid-column: 1;                     
   grid-row: 1;


  }


  footer {
    width: 100%;
    text-align: center;
    background-image: url(fond.jpg);
  }

  .txtfooter {
   font-size: 1.5em;
  }

  @media only screen and (max-width: 768px) {
    .txt-pres {
      font-size: 1.5em;
      margin-left: 5%;
      margin-right: 5%;
    }
  }